<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%-include ("partials/head")%>
</head>
<body>
    <%-include("partials/navigation")%>
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="my-5 text-uppercase">Servidor renderizando plantillas ejs</h1>
        <a href="/about" class="btn btn-primary w-25">About us</a>
    </div>
    <%-include("partials/footer")%>
</body>
</html>