<footer>
    <h4>Lorem, ipsum dolor.</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit alias rem eaque cum libero aliquam, magnam non animi nemo dicta distinctio corporis officia ipsum ratione accusamus similique fugit. Facilis soluta possimus nam assumenda at optio sunt! Suscipit magnam ullam consectetur, ipsum, minima nam veniam autem quo in culpa provident nostrum.</p>
</footer>