<footer>
    <div >
        <p class="container d-flex flex-column justify-content-center align-items-center bg-dark ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem fuga ducimus praesentium sequi placeat, quisquam ullam velit ab nulla voluptatum.</p>
    </div>
    </footer>